
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Altimetria/dem_srtm_pt_25m.tif
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/map
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/CORINE/ocupacaosolo/COS2018_v1.cpg
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/CORINE/ocupacaosolo/COS2018_v1.dbf
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/CORINE/ocupacaosolo/COS2018_v1.prj
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/CORINE/ocupacaosolo/COS2018_v1.qix
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/CORINE/ocupacaosolo/COS2018_v1.qpj
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/CORINE/ocupacaosolo/COS2018_v1.shp
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/CORINE/ocupacaosolo/COS2018_v1.shx
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Ocupação do Solo/COS2018_v1.cpg
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Ocupação do Solo/COS2018_v1.dbf
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Ocupação do Solo/COS2018_v1.prj
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Ocupação do Solo/COS2018_v1.qix
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Ocupação do Solo/COS2018_v1.qpj
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Ocupação do Solo/COS2018_v1.shp
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Ocupação do Solo/COS2018_v1.shx
Projeto - Suscetibilidade Incendio Forestal/5-Historico_Incendios/Historico Incendios/schema.ini
Projeto - Suscetibilidade Incendio Forestal/5-Historico_Incendios/Historico Incendios/Registos_Incendios_SGIF_2021.xlsx
Projeto - Suscetibilidade Incendio Forestal/5-Historico_Incendios/Historico Incendios/Registos_Incendios_SGIF_2021.csv
Projeto - Suscetibilidade Incendio Forestal/5-Historico_Incendios/Historico Incendios/Registos_Incendios_SGIF_2011_2020.csv
Projeto - Suscetibilidade Incendio Forestal/5-Historico_Incendios/Historico Incendios/Estatisticas_Incendios_SGIF_2001_2021.xlsx
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001151_AConservNat_Grutas_Cont.zip
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001131_AConservNat_ZnAvifauna_Cont.zip
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001121_AConservNat_Biotopos_Cont.zip
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001111_AConservNat_AProtegidas_Cont.zip
proj2.mxd
Projeto - Suscetibilidade Incendio Forestal/5-Historico_Incendios/Historico Incendios/Registos_Incendios_SGIF_2021.xlsx
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001151_AConservNat_Grutas_Cont.zip
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001131_AConservNat_ZnAvifauna_Cont.zip
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001121_AConservNat_Biotopos_Cont.zip
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001111_AConservNat_AProtegidas_Cont.zip
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/linesRV.cpg
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/linesRV.dbf
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/linesRV.prj
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/linesRV.qmd
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/linesRV.shp
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/linesRV.shp.DESTOP-JOAO.18252.5428.sr.lock
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/linesRV.shx
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/multiRV.cpg
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/multiRV.dbf
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/multiRV.prj
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/multiRV.qmd
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/multiRV.shp
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/multiRV.shx
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/Rede Viaria.zip
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/rv.cpg
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/rv.dbf
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/rv.prj
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/rv.sbn
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/rv.sbx
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/rv.shp
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/rv.shp.DESTOP-JOAO.18252.5428.sr.lock
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/rv.shp.xml
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/rv.shx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000001.gdbindexes
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000001.gdbtable
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000001.gdbtablx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000001.TablesByName.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000002.gdbtable
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000002.gdbtablx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000003.gdbindexes
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000003.gdbtable
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000003.gdbtablx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000004.CatItemsByPhysicalName.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000004.CatItemsByType.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000004.FDO_UUID.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000004.gdbindexes
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000004.gdbtable
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000004.gdbtablx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000004.spx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000005.CatItemTypesByName.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000005.CatItemTypesByParentTypeID.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000005.CatItemTypesByUUID.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000005.gdbindexes
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000005.gdbtable
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000005.gdbtablx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000006.CatRelsByDestinationID.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000006.CatRelsByOriginID.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000006.CatRelsByType.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000006.FDO_UUID.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000006.gdbindexes
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000006.gdbtable
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000006.gdbtablx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000007.CatRelTypesByBackwardLabel.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000007.CatRelTypesByForwardLabel.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000007.CatRelTypesByName.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000007.CatRelTypesByUUID.atx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000007.gdbindexes
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000007.gdbtable
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/a00000007.gdbtablx
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/gdb
Projeto - Suscetibilidade Incendio Forestal/projetodados.gdb/timestamps
