
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Altimetria/dem_srtm_pt_25m.tif
Projeto - Suscetibilidade Incendio Forestal/1-Fisico/Rede Viaria/map
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/CORINE/ocupacaosolo/COS2018_v1.cpg
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/CORINE/ocupacaosolo/COS2018_v1.dbf
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/CORINE/ocupacaosolo/COS2018_v1.prj
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/CORINE/ocupacaosolo/COS2018_v1.qix
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/CORINE/ocupacaosolo/COS2018_v1.qpj
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/CORINE/ocupacaosolo/COS2018_v1.shp
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/CORINE/ocupacaosolo/COS2018_v1.shx
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Ocupação do Solo/COS2018_v1.cpg
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Ocupação do Solo/COS2018_v1.dbf
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Ocupação do Solo/COS2018_v1.prj
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Ocupação do Solo/COS2018_v1.qix
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Ocupação do Solo/COS2018_v1.qpj
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Ocupação do Solo/COS2018_v1.shp
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Ocupação do Solo/COS2018_v1.shx
Projeto - Suscetibilidade Incendio Forestal/5-Historico_Incendios/Historico Incendios/schema.ini
Projeto - Suscetibilidade Incendio Forestal/5-Historico_Incendios/Historico Incendios/Registos_Incendios_SGIF_2021.xlsx
Projeto - Suscetibilidade Incendio Forestal/5-Historico_Incendios/Historico Incendios/Registos_Incendios_SGIF_2021.csv
Projeto - Suscetibilidade Incendio Forestal/5-Historico_Incendios/Historico Incendios/Registos_Incendios_SGIF_2011_2020.csv
Projeto - Suscetibilidade Incendio Forestal/5-Historico_Incendios/Historico Incendios/Estatisticas_Incendios_SGIF_2001_2021.xlsx
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001151_AConservNat_Grutas_Cont.zip
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001131_AConservNat_ZnAvifauna_Cont.zip
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001121_AConservNat_Biotopos_Cont.zip
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001111_AConservNat_AProtegidas_Cont.zip
proj2.mxd
Projeto - Suscetibilidade Incendio Forestal/5-Historico_Incendios/Historico Incendios/Registos_Incendios_SGIF_2021.xlsx
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001151_AConservNat_Grutas_Cont.zip
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001131_AConservNat_ZnAvifauna_Cont.zip
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001121_AConservNat_Biotopos_Cont.zip
Projeto - Suscetibilidade Incendio Forestal/4-Uso_e_Ocupacao_Solo/Area protegidas/AtAmb_5001111_AConservNat_AProtegidas_Cont.zip
